body{
	background-color: darkorange;
	font-family: Helvetica, sans-serif;
}
.game-board{
	margin-top: 20px;
}
.flex{
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
}
.letter{
	font-size: 30px;
	display: none;
}
.underscore, .letter, .blank{
	margin: 5px;
	width: 40px;
	height: 50px;
}
.underscore, .letter{
	border: 4px solid black;
	background-color: lightgrey;
	text-align: center;
	font-size: 45px;
}
.game-console{
	text-align: center;
	margin: 20px auto;
}
.announcements{
	font-size: 20px;
	text-align: center;
	margin: 20px;
}
.scores{
	margin: 20px;
	padding: 10px; 
	border: 1px solid black;
}
